#dados-demanda{
    display: none;
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 9999;
}

.header{
    display: flex;
    justify-content: right;
    border-radius: 10px 10px 0px 0px;
    background-color: #6A2921;
    width: 100%;
    height: 7%;
}

.header img{
    cursor: pointer;
    height: 5vh;
}

.info-container{
    display: "flex";
    justify-content: left;
    padding: 0px 30px;
    width: 40%;
}

.info-container h3{
    display: flex;
    width: 100%;
}


.info-container select{
    margin-left:5px;
    width: 20%;
}

#dados-demanda button{
    cursor: pointer;
    width: 15%;
    position: absolute;
    bottom: 5%;
    right: 3%;
    height: 5%;
    border-style: none;
    border-radius: 5px;
    background-color: #329A97;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.tarefas-container{
    overflow-y: auto;
    display: block;
    width: 50%;
    max-height: 50vh;
    background-color: white;
    border-style: solid;
    border-width: 3px;
}

.add-tarefa-button{
    cursor: pointer;
    position: absolute;   
    right: 60px;
    bottom: 81%;
    background-color: #6A2921;
    border-style: none;
    border-radius: 0px 10px 10px 0px;
    width: 5%;
}