
.upper-bar{
    display: flex;
    justify-content: end;
    align-items: center;
    min-width: 100vw;
    max-height: 20%;
    background-color: #E5E5E5;
}

.upper-bar img{
    max-height: 10vh;
}

.demandas-section{
    min-height: 80%;
    justify-content: center;
    padding: 20px;
}

.demandas-row{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    width: 100%;
}

.demanda{
    position: relative;
    border-style: solid;
    border-radius: 10px;
    width: 20%;
    min-height: 18vh;
    margin:5px;
}

.button-demanda-container{
    position: absolute;
    bottom: 0px;
    height:"61%";
    width: 100%;
}

.demanda button{
    max-height: 20%;
    border-style: none;
    background-color: #6A2921;
    width: 100%;
    border-radius: 0px 0px 7px 7px;
    color: white;
    cursor: pointer;
}

.demanda p{
    font-weight: bold;
}

.create-demanda-button{
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6A2921;
    border-style: solid;
    border-color: #6A2921;
    border-width: 15px;
    width: 3vw;
    border-radius: 100%;
    cursor: pointer;
}

.create-demanda-button img{
    width: 100%;
}