.red-btn{
    display: flex;
    background-color: #800E13;
    color: #ffffff;
    border-radius: 8px;
    border-style: none;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0.2%;
    font-size: large;
    cursor: pointer;
}

.principal-section{
    margin: 0% 3%;
}
.principal-section h1{
    margin: 2% 0%;
    display: flex;
}

.principal-section p{
    text-align:justify;
}